.newTask {
   flex-grow: 1;
   padding: 1%;
   border: 2px solid #eee;
}


@media (max-width: 450px) {
   .newTask {
      margin-bottom: 2%;
   }
}

.button {
   margin-left: 2%;
   padding: 1%;
   background-color: teal;
   color: rgb(213, 240, 240);
   font-weight: lighter;
   border: 2px solid teal;
}

@media (max-width: 450px) {
   .button {
      margin-left: 0%;
   }
}

