.newTask {
   flex-grow: 1;
   padding: 1%;
   border: 2px solid #eee;
}

.tasks__item--hidden {
   display: none;
}

@media (max-width: 450px) {
   .newTask {
      margin-bottom: 2%;
   }
}

.button {
   margin-left: 2%;
   padding: 1%;
   background-color: teal;
   color: rgb(213, 240, 240);
   font-weight: lighter;
   border: 2px solid teal;
}

.js-button {
   transition: 0.3s linear;
   transform: scale(1);

}
.button:hover {
   transition: 0.3s linear;
   transform: scale(1.1);
   background-color: rgb(43, 183, 183);
}

@media (max-width: 450px) {
   .button {
      margin-left: 0%;
   }
}