.sectionAddTask {
   margin: 0 4%;
}

.section__titleNewTask {
   border-bottom: 2px solid #eee;
   padding: 2%;
}   

.sectionTasks {
   top: -15px;
   margin: 0 4%;
   margin-top: 1%;
}

  

.div__headerAndButtons {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   border-bottom: 2px solid #eee;
   padding: 2%;
}

.section__titleTasksList {
   flex-grow: 1;
}

.button--hideTasks {
   margin-right: 2%;
   direction: none;
   background-color: #fff;
   color: teal;
   border: none;
}

.button--hideTasks:hover {
   margin-right: 2%;
   direction: none;
   background-color: #fff;
   color: rgb(108, 211, 211);
   border: none;
}

.button--markTasksAllDone {
   margin-right: 2%;
   direction: none;
   background-color: #fff;
   color: teal;
   border: none;
}

.button--markTasksAllDone:hover {
   margin-right: 2%;
   direction: none;
   background-color: #fff;
   color: rgb(108, 211, 211);
   border: none;
}

.tasks {
   display: flex;
   flex-direction: column;
   align-content: space-evenly ;
   margin: 0 2%;
   padding-left: 0px;
   padding-bottom: 2%;
   list-style: none;
}

.list__item {
   display: flex;
   flex-direction: row;
   margin: 1%;
   padding: 1% 2%;
   border-bottom: 2px solid #eee;
}

.list__content {
   flex-grow: 1;
   padding-left: 2%;
}