html {
   box-sizing: border-box;
}

*, ::after, ::before {
   box-sizing: inherit;
}

.body {
   background-color: #eee;
   font-family: "Arial", sans-serif;
   max-width: 768px;
   margin: 0 auto;
   word-break: break-all;
}

.header__title {
   margin-left: 4%;
   margin-right: 4%;
}

.main {
   display: block;
   position: relative;
}



